<div class="mainWrapper" ng-class="{'mainWrapper--userMenu': $root.userInfo}">
	
	<categories-window selected-category="$ctrl.selectedCategory"></categories-window>
	
	<routes-window selected-route="$ctrl.selectedRoute"></routes-window>
		
	<div class="mainWrapper__mapWrapper">
		<i class="fa fa-arrow-circle-o-up mainWrapper__scrollUp" ng-click="$ctrl.mobileService.scrollUp()" ng-if="$ctrl.selectedCategory && $ctrl.mobileService.mobile" aria-hidden="true"></i>
		<div class="mainWrapper__showRoutes" ng-if="$ctrl.dataService.routes && $ctrl.mobileService.mobile" ng-click="$ctrl.mobileService.showRoutesMobile()">
			<span>Pokaż połączenia</span>
			<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
		</div>
		<div id="map" class="mainWrapper__map" ng-click="$ctrl.mobileService.mobileMapClick()"></div>
	</div>
</div>


