<div class="userMenu">
	<div class="userMenu__mobileList" ng-class="{'userMenu__mobileList--expand': $ctrl.expandMenu}">
		<i class="fa fa-arrow-circle-o-up userMenu__expand"
		   ng-class="{'userMenu__expand--expand': $ctrl.expandMenu}"
		   ng-click="$ctrl.expandMenu = !$ctrl.expandMenu" aria-hidden="true"></i>
		<ul class="userMenu__list">
			<li ng-click="$ctrl.favoritePlaces()">
				<i class="fa fa-heart" aria-hidden="true"></i>
				Ulubione miejsca
			</li>
			<li ng-click="$ctrl.addPlace()">
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<span ng-if="$root.userInfo.account_type === 2">
					Zaproponuj nowe miejsce
				</span>
				<span ng-if="$root.userInfo.account_type !== 2">
					Dodaj nowe miejsce
				</span>
			</li>
			<li ng-if="$root.userInfo.account_type !== 2" ng-click="$ctrl.newPlaces()">
				<i class="fa fa-check-square-o" aria-hidden="true"></i>
				Propozycje nowych miejsc
			</li>
		</ul>
	</div>
</div>